.footerStyle {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.light .footerStyle {
  background: #F3F4F6;
  color: #1F2937;
}
body.dark .footerStyle {
  background: #2D3748;
  color: #E5E7EB;
}

.authFooter {
  width: 55%;
}

.homeFooter {
  width: 90%;
}

.containerStyle {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
