.columns {
  display: flex;
  gap: 10px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  column-gap: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
